lib-cov
*.seed
*.log
*.dat
*.out
*.pid
*.gz
pids
logs
results
node_modules
themes/*
!themes/default
updates/*
!updates/[0-9].[0-9].[0-9]-demo.js
!updates/[0-9].[0-9].[0-9]-fr-*.js
extras
npm-debug.log
.mongo
.env
tmp
.DS_Store
