{% provide model='Category', bind='category',stack=[{m:'findOne'},{m:'where', a:{slug:params[0]}},{m:'populate', a:'products'}] %} {% provide model='Category', bind='categories',stack=[{m:'find'},{m:'limit', a:50}] %} {% provide model='Product', bind='products',stack=[{m:'find'},{m:'limit',
a:10}] %} {% extends "common/base.html" %} {% block css %} .thumbnail>img{ max-height: 127px; } {% endblock %} {% block body %}
<div class="container main">
  <div class="row">
    <div class="col-md-2">
      {% if categories.length > 0 %}
      <div class="panel panel-default">
        <div class="panel-heading"><b>Categories</b>
        </div>
        <div class="list-group">
          {% for category in categories %}
          <a href="/store/categories/<$ category.slug $>" class="list-group-item">
            <$ category.name $>
          </a>
          {% endfor %}
        </div>
      </div>
      {% endif %}
    </div>

    <div class="col-md-10">
        <div class="panel">
          <div class="panel-heading"><b>Store</b></div>
          <div class="panel-body">
            {% for product in products %}
            <div class="col-lg-3 col-md-5 hero-feature">
              <div class="thumbnail">
                {% if product.image %}
                <img src="<$ product.image $>" style="height:120px;" alt="<$ product.name $>">{% else %}
                <img src="http://placehold.it/800x500" style="height:120px;" alt="no image supplied">{% endif %}
                <div class="caption">
                  <h6><a href="/store/products/<$ product.slug $>"><$ product.title $></a></h6>
                  <p class="text-danger">
                    <$ product._.price.format( '$0.00')$>
                  </p>
                </div>
              </div>
            </div>
            {% endfor %}


          </div>
      </div>

      </div>

    </div>

  </div>


</div>
<!-- /.container -->


{% endblock %}
