{% extends "common/base.html" %}
{% provide model='Product', bind='product',chain=[{m:'findOne'},{m:'where', a:{slug:params[0]}}] %}
{% provide model='Category', bind='categories',chain=[{m:'find'},{m:'limit', a:6}] %} 
{% block body %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="left-sidebar">
          <h2>Categories</h2>
          <div class="panel-group category-products" id="accordian">
            <!--category-productsr-->
            {% for cat in categories %}
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"><a href="/store/categories/<$ cat.slug $>"><$ cat.name $></a></h4>
              </div>
            </div>
            {% endfor %}
          </div>
          <!--/category-products-->
        </div>
      </div>
      <div class="col-sm-9 padding-right">
        <div class="product-details"><!--product-details-->
          <div class="col-sm-5">
            <div class="view-product">
              <img alt="<$ product.name $>" src="<$ product.image.url $>" style="width:268px;height:249px">
            </div>
          </div>
          <div class="col-sm-7">
            <div class="product-information"><!--/product-information-->
              <h2><$ product.name $></h2>
              <p>Web ID: <$ product.stock.sku $></p>
              <span>
                <span>TTD <$ product._.price.format('0,00.00') $></span><br/>
                {% if product.stock.balance > 0 %}
                <add-button id='<$ product._id $>'></add-button>
                {% endif %}
              </span>
              <p><b>Availability:</b> <$ product.stock.balance $> in Stock </p>
            </div><!--/product-information-->
          </div>
        </div><!--/product-details-->

        <div class="category-tab shop-details-tab"><!--category-tab-->
          <div class="col-sm-12">
            <ul class="nav nav-tabs">
              <li><a data-toggle="tab" href="#details">Details</a></li>
            </ul>
          </div>
          <div class="tab-content">
            <div id="reviews" class="tab-pane fade active in">
              <div class="col-sm-12">
                <p><$ product.description.html | safe $> </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

  {% endblock %}
