{% extends "base.html" %} {% include "snippets/billingForm.html" %} {% block body %}
<div class="main" ng-controller="Checkout as checkout">
  <div class="row text-center" style="margin-bottom:50px">
    <div class="col-md-12">
      <h2><$ $settings.site.name $></h2>
      <h4>Checkout</h4>
      <a href="/" class="pull-left">&leftarrow; Back to <$ $settings.site.name $></a>
    </div>
    <div class="col-md-5">
      <div class="panel panel-default">
        <div class="panel-heading">
      <h4>Your Order</h4>
    </div>
    <div class="panel-body">
      <div class="table-responsive cart_info">
        <table class="table table-condensed">
          <thead>
            <tr class="cart_menu">
              <td class="image">Item</td>
              <td class="price">Price</td>
              <td class="quantity">Quantity</td>
              <td class="total">Total</td>
            </tr>
          </thead>
          <tbody>
            {% for item in $cart %}
            <tr>
              <td class="cart_product">
                {{'
                <$ item.name $>'| characters:30}}
              </td>
              <td class="cart_price">
                <p>{{'
                  <$ item.price $>' | currency}}</p>
              </td>
              <td class="cart_quantity">
                {{'
                <$ item.quantity $>'}}
              </td>
              <td class="cart_total">
                <p class="cart_total_price">{{
                  <$ item.price $>*
                    <$ item.quantity $>| currency}}</p>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="">
        <form name="checkoutForm" class="form-horizontal">
          <div class="col-md-12">
            <div class="row">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="form-group">
                    <label class="col-md-2 control-label" for="order.email">Email*</label>
                    <div class="col-md-10">
                      <input id="order.email" type="email" class="form-control input-md" name="email" ng-model="checkout.order.customer.email" required>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="panel panel-default">
                <div class="panel-body">
                  <$ address( 'order.address.billing', 'order[address][billing]') $>
                    <input ng-click="checkout.togglebilling()" id="ship-to-billing-address" type="checkbox" data-ng-model="checkout.SHIP_TO_BILLING">
                    <label class="" for="ship-to-billing-address">Ship items to the address above?</label>
                </div>
              </div>
            </div>
            <span ng-if="!checkout.SHIP_TO_BILLING" class="animate-if">
              <div class="row">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <$ address('order.address.shipping', 'order[address][shipping]') $>
                  </div>
                </div>
              </div>
            </span>
            <div class="row">
              <div class="panel panel-default">
                <div class="panel-body">
                  <h3>Payment Method</h3>
                  <select class="form-control" required ng-options="workflow.value as workflow.label for workflow in checkout.paymentOptions" ng-model="checkout.order.workflow">
                    <option value="">--Select One--</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <button ng-disabled="!checkoutForm.$valid" ng-click="checkout.confirm()" class="btn btn-danger btn-lg btn-block" style="margin-bottom:100px;">Place Order</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
