{% set DISABLE_NAVBAR=true %} {% set DISABLE_FOOTER=true %} {% extends "common/base.html" %} {% block script %} {% endblock %} {% block body %}
<div class="container main" ng-controller="CheckOut as checkout">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-body" style="box-shadow: 3px 3px 2px #888888;">
        <div class="form-horizontal">
          <div class="col-md-12">
            <div class="row">
              <div class="step-one">
                <h2 class="heading">Step 1: Contact Email</h2>
              </div>
            </div>
            <div class="row">
              <div class="panel panel-default">
                <div class="panel-body">
                  <es-email data-ng-model="checkout.order.email"></es-email>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="step-one">
                <h2 class="heading">Step 2: Billing and Shipping</h2>
              </div>
            </div>
            <div class="row">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="col-md-6">
                    <div class="row form-group">
                      <label>Billing Address</label>
                      <hr/>
                    </div>
                    <es-address data-ng-model="checkout.order.address.billing"></es-address>
                    <input ng-click="checkout.toggleShipping()" id="ship-to-billing-address" type="checkbox" data-ng-model="checkout.SHIP_TO_BILLING">
                    <label class="" for="ship-to-billing-address">Ship items to the address above?</label>
                  </div>
                  <div class="col-md-6">
                    <div class="row form-group">
                      <label>Shipping Address</label>
                      <hr/>
                    </div>
                    <es-address disable="checkout.SHIP_TO_BILLING" data-ng-model="checkout.order.address.shipping"></es-address>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="step-one">
                <h2 class="heading">Step 3: Payment Method</h2>
              </div>
            </div>
            <div class="row">
              <div class="panel panel-default">
                <div class="panel-body">
                  <es-payment-select ng-model="checkout.order.workflow"></es-payment-select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="step-one">
                <h2 class="heading">Step 4: Review and Confirm</h2>
              </div>
              <es-cart></es-cart>
              <button class="btn btn-primary btn-lg pull-right" ng-click="checkout.confirm()" style="margin-bottom:100px;">Place Order</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
