{% extends "common/base.html" %} {% block body %}
<div class="container main">
  <div class="col-md-8 col-md-offset-2">
    <div class="row">
      <div class="col-md-12">
        <h3> Join <$ BRAND | capitalize $> </h3>
        <p>Place your tagline here!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Please sign up for <$ BRAND | capitalize $></h3>
          </div>
          <div class="panel-body">
            <form role="form">
              <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <div class="form-group">
                    <input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="First Name">
                    <p class="text-danger">Name is required.</p>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <div class="form-group">
                    <input type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="Last Name">

                  </div>
                </div>
              </div>

              <div class="form-group">
                <input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email Address">
                <p class="text-danger">A valid email address is required.</p>
                <p class="text-danger">That email is registered already.</p>
              </div>

              <div class="form-group">
                <input type="text" name="client[phone]" id="email" class="form-control input-sm" placeholder="(868)555-5555">
                <p class="text-danger">A valid email address is required.</p>
              </div>
              <div class="form-group">
                <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password">
                <p class="text-danger">Password should be a minimum of 8 characters.</p>
              </div>
              <div class="form-group">
                <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Confirm Password">
                <p class="text-danger">Passwords do not match!</p>

              </div>


              <input type="submit" value="Register" class="btn btn-info btn-block">

            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">You'll love our products</div>
          <div class="panel-body">

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}
