{% extends "common/base.html" %}
{% block script %}
{% endblock %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <h3>Oh no! Something went wrong!</h3>
        <hr>
      </div>
      <div class="row">
        <p>If this happens again <a href="http://facebook.com/cocolooks">message</a> us and we will take your order.</a>
      </div>
      <div class="row">
        <p>Back to the <a href="/store">store</a></p>
      </div>
    </div>
  </div> 
</div>
</div>
{% endblock %}
