    <div class="table-responsive cart_info" ng-init="cart.getItems()">
      <table class="table table-condensed">
        <thead>
          <tr class="cart_menu">
            <td class="image">Item</td>
            <td class="price">Price</td>
            <td class="quantity">Quantity</td>
            <td class="total">Total</td>
          </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in cart.items">
          <td class="cart_product">
            <a href="/products/{{item.slug}}" target="_blank">{{item.name | characters:30}}</a>
          </td>
          <td class="cart_price">
            <p>{{item.price | currency}}</p>
          </td>
          <td class="cart_quantity">
            {{item.quantity}}
          </td>
          <td class="cart_total">
            <p class="cart_total_price">{{ item.price * item.quantity | currency}}</p>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
