{% extends "base.html" %}
{% block body %}
<div class="container main">
  <div class="row">
    {% for post in $posts %}
    <div class="col-lg-8 col-lg-offset-2">
      <!-- blog entry -->
      <h1><a href="/blog/<$ post.slug $>"><$ $post.title $></a>
                </h1>
      <p class="lead">by
        <$ $post.author $>
      </p>
      <hr>
      <p>
        <span class="glyphicon glyphicon-time"></span> Posted on
        <$ $post.createdAt $>
      </p>
      <hr>{% if post.image %}
      <img src="<$ post.image $>" class="img-responsive">
      <hr>{% endif %}
      <$ $post.content.brief | safe $>
        <a class="btn btn-primary" href="/blog/<$ post.slug $>">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

        <hr>
    </div>
    {% endfor %}
  </div>

  <hr>

</div>
{% endblock %}
<!-- /.container -->

