{% from "snippets/editableCart.html" import editableCart %}
{% from "snippets/checkoutButtons.html" import checkoutButtons %}
{% extends "base.html" %} {% block body %}
<$ navbar($cart, $categories, $settings) $>
  <div class="row">
    <div class="col-md-12">
      {% if $cartError %}
      <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4>Wait!</h4>
        <$ $cartError $>
      </div>
      {% endif %}
      {% if $cartErrors %}
      <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4>Please correct the following errors:</h4>
        {% for error in $cartErrors %}
        <p><$ error.error $></p>
        {% endfor %}
      </div>
      {% endif %} 
      {% if $cart.length
      < 1 %} <div>
        <h4>Your cart empty!</h4>
        <p><a class="btn btn-danger btn-xs" href="/categories/all">Continue Shopping</a> 
    </div>
    {% else %}
    <h2>Your Shopping Cart</h2>
    <hr>
    <$ editableCart($cart, _csrf) $>
  </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-right">
      <div class="heading">
        <h4>What would you like to do next?</h4>
        <p>
        <$ checkoutButtons($settings) $>
        </p>
      </div>
    </div>
  </div>
  {% endif %}
  <$ footer($settings) $>
    {% endblock %}
