{% extends "base.html" %} {% set DISABLE_NAV=true %} {% block body %}
<div class="container main" ng-controller="Checkout as checkout">
  <div class="col-md-10 col-md-offset-1">
    <div class="row text-center" style="margin-bottom:50px">
      <h2>Your Store</h2>
      <h4>Checkout</h4>
      <hr>
    </div>
    <div class="col-md-5">
      <h2>Summary</h2>
      <es-checkout-cart></es-checkout-cart>
    </div>
    <div class="col-md-7">
      <div class="panel-body">
        <div class="form-horizontal">
          <div class="col-md-12">
            <div class="row">
              <div class="panel panel-default">
                <div class="panel-body">
                  <h3>Contact Email</h3>
                  <div class="form-group">
                    <div class="col-md-12">
                      <ng-form name="emailForm">
                        <es-email name="email" model="checkout.order.customer.email" required="true"></es-email>
                      </ng-form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% include "checkout/billing-form.html" %}
            {% include "checkout/shipping-form.html" %}
            <div class="row">
              <div class="panel panel-default">
                <div class="panel-body">
                  <h3>Payment Method</h3>
                  <ng-form name="paymentForm">
                    <select class="form-control" required="true" ng-options="workflow.value as workflow.name for workflow in checkout.paymentOptions" ng-model="checkout.order.workflow">
                      <option value="">--Select One--</option>
                    </select>
                  </ng-form>
                </div>
              </div>
            </div>
            <div class="row">
              <button ng-disabled="!billingForm.$valid || !shippingForm.$valid || !emailForm.$valid || !paymentForm.$valid" ng-click="checkout.confirm()" class="btn btn-danger btn-lg btn-block" style="margin-bottom:100px;">Place Order</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
