{% extends "base.html" %} {% set DISABLE_NAV=true %} {% block body %}
<div class="container main" ng-controller="Checkout as checkout">
  <div class="col-md-10 col-md-offset-1">
    <div class="row text-center" style="margin-bottom:50px">
      <h2><$ $settings.site.brand $></h2>
      <h4>Checkout</h4>
      <hr>
    </div>
    <div class="col-md-5">
      <h2>Summary</h2>
      <es-checkout-cart></es-checkout-cart>
    </div>
    <div class="col-md-7">
      <div class="panel-body">
        <form name="checkoutForm" class="form-horizontal">
          <div class="col-md-12">
            <div class="row">
              <div class="panel panel-default">
                <div class="panel-body">
                  <h3>Contact Email</h3>
                  <div class="form-group">
                    <div class="col-md-12">
                      <input type="email" class="form-control input-md" name="email" ng-model="checkout.order.customer.email" required>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% include "checkout/billing-form.html" %}
            <input ng-click="checkout.togglebilling()" id="ship-to-billing-address" type="checkbox" data-ng-model="checkout.SHIP_TO_BILLING">
            <label class="" for="ship-to-billing-address">Ship items to the address above?</label>
  <span ng-if="!checkout.SHIP_TO_BILLING" class="animate-if">
            {% include "checkout/shipping-form.html" %}
          </span>
            <div class="row">
              <div class="panel panel-default">
                <div class="panel-body">
                  <h3>Payment Method</h3>
                  <select class="form-control" required ng-options="workflow.value as workflow.name for workflow in checkout.paymentOptions" ng-model="checkout.order.workflow">
                    <option value="">--Select One--</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <button ng-disabled="!checkoutForm.$valid" ng-click="checkout.confirm()" class="btn btn-danger btn-lg btn-block" style="margin-bottom:100px;">Place Order</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
