{% extends "base.html" %} 
{% get 'products' from 'Product' using 'find' %}{% done %}
{% set PAGE_IS_HOME=true %} {% block body %}
<section>
  <!--slider-->
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="item active">
              <div class="col-sm-6">
                <h1>Your Store</h1>
                <p>This the default theme for this EStore. We strongly recommend you customise it or build a new one.</p>
              </div>
              <div class="col-sm-6">
                <img src="assets/images/woman-bag.jpg" class="girl img-responsive" alt="Image of a woman with shopping bags." />
              </div>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h3 class="text-center">Products</h3>
          {% for product in products %}
          <div class="col-md-4">
            <div class="thumbnail no-border">
              <img alt="<$ product.name $>" src="<$ product.image $>">
              <div class="caption">
                <h5 class="product-title"><a style="color:#555; font-weight:900" href="/products/<$ product.slug $>"><$ product.name $></a></h5>
                <p class="product-price" style="font-style:italic; font-weight:900;color:#807777">$<$ product.price $></p>

              </div>
            </div>
          </div>
          {% endfor %}
      </div>
    </div>
</section>
{% endblock %}
