{% extends "base.html" %} {% get 'products' from 'Product' using 'find' with {isFeatured:true} %} {% then 'limit' with 4 %} {% done %} {% block body %}
<$ navbar($cart, $categories, $settings) $>
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <$ $page.content.html | safe $>
      </div>
    </div>
  </div>
    <div class="row">
      {% for product in products %}
      <div class="col-md-3">
        <div class="thumbnail no-border">
          <img alt="<$ product.name $>" src="<$ product.image $>">
          <div class="caption">
            <div class="col-md-12">
              <h6 class="product-title"><a style="color:#555; font-weight:900" href="/categories/all/products/<$ product.slug $>"><$ product.name | truncate(128) $></a></h6>
            </div>
            <div class="col-md-12">
              <span class="product-price" style="font-weight:900;color:#807777">
            $<$ product.price $>
          </span>
            </div>
            <div class="col-md-12">
              {% if product.stock.balance
              < 1 %} <span class="text-danger">Out of Stock</span>
                {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <$ footer() $>
  {% endblock %}
