{% extends "base.html" %} {% get 'product' from 'Product' using 'findOne' with {slug:params[0]} %} {% done %} {% block body %}
<section>
  <div class="container" ng-controller="ProductPage as pctrl">
    <div class="col-md-8 col-md-offset-2">
      <div class="col-md-5">
        <img alt="<$ product.name $>" src="<$ product.image $>" class="img center-block img-responsive">
      </div>
      <div class="col-md-0"></div>
      <div class="col-md-7">
        <div class="row">
          <h2><$ product.name $></h2>
          {% if product.vendor %}
          <p>by
            <$ product.vendor $>
          </p>
          {% endif %}
          <p>Price:
            <$ product._.price.format( '$0,00.00') $>
          </p>
          {% if product.stock.balance > 0 %} {% if product.stock.balance
          < 11 %} <p>
            <$ product.stock.balance $>left</p>
              {% else %}
              <p>In stock</p>
              {% endif %} {% else %}
              <p class="text-danger">Out of Stock</p>
              {% endif %} {% if product.stock.balance > 0 %}
              <div class="row">
                <div class="col-md-6">
                  <es-cart-adder id="<$ product._id $>" add-success="pctrl.addSuccess()" add-failure="pctrl.addFailure()"></es-cart-adder>
                </div>
              </div>
              {% endif %}
              <hr>
        </div>
        <div class="row">
          <h3>Share</h3>
          <div class="social-sharing is-large">
            <a class="share-facebook" href="//www.facebook.com/sharer.php?u=http://<$ DOMAIN $>/products/<$ product.slug $>" target="_blank">
              <span class="fa fa-facebook-square"></span>
              <span class="share-title">Share</span>



            </a>



            <a class="share-twitter" href="//twitter.com/share?url=http://<$ DOMAIN $>/products/<$ product.slug $>" target="_blank">
              <span class="fa fa-twitter"></span>
              <span class="share-title">Tweet</span>
            </a>
          </div>
          <hr>
        </div>
        <div class="row">
          <h3>Description</h3>
          <hr>
          <$ product.description.html | safe $>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
